<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de Clientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-sliding *ngFor="let produto of produtos | async ">

    <ion-item-options side="end">
      <ion-item-option color="danger" expandable (click)="delete(produto.key)">
        Remover
      </ion-item-option>
    </ion-item-options>

    <ion-item>
      <ion-icon name="person"></ion-icon>
      <ion-label>{{ produto.nome }}</ion-label>
      <ion-text>{{ produto.descricao }}</ion-text>
      <ion-text>{{ produto.quant }}</ion-text>
      <ion-text>{{ produto.valor }}</ion-text>
    </ion-item>

    
    <ion-item-options side="start">
      <ion-item-option color="tertiary" expandable (click)="edit(produto, produto.key)">
        Atualizar
      </ion-item-option>
    </ion-item-options>

  </ion-item-sliding>
</ion-content>